body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

.hidden {
  display: none;
}

#root {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
}

.page-wrapper {
  height: 100%;
  overflow: auto;
}
